.WorldNews {
    padding-top: 20px;
    text-align: center;
}
.WorldNews img{
    width: 850px;
    height: 550px;
}

.big {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.min {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.min li {
    list-style-type: none;
}